<!-- example.html -->
<div class="container">
    <div class="image">
        <img src="{{ url_for('static', filename='imotions.png') }}" alt="iMotions">
    </div>
    <div class="explanation">
        <h2>Example of Video Creation Software</h2>
        <p>This is an example of our video creation software with different features:</p>
        <ul>
            <li>GSR - Displays the live GSR data in the bottem left corner and graphs the skin GSR peaks on the bottom graph that are greater than 2 standard deviations above the mean</li>
            <li>FACET - This emotion data is shown in the bottom right corner. If the video detects the face and collects FACET data, it will show the vibrancy of that data if it is greater than 0.1 </li>
            <li>Pupil - Displays live Pupil Dilation in the top left corner. Calculated as average between Left and Right Eye. Shows peaks in graph below that are greater that 2 standard deviations of the avergae.</li>
            <li>HeartRate - Displays the live heart data in the top right corner and displays heart rate peaks being above 2 standard deviations of the mean</li>
            <li>Graph - Displays the graph of arousal data at the bottem. Blue is Dilation peaks, Red is Heart Rate Peaks, and Tan is GSR peaks </li>
            <li>Save - Saves video to folder that application was launched from with title matching participant</li>
            <li>Eye Tracking - Shows the current eye movment as a target on the screen as recorded</li>
            <li>Show - If computer is configured correct this will show the video as it is being created</li>
        </ul>
        <p>Feel free to explore the options and see how they can enhance your video creation process.</p>
    </div>
</div>
