<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to iMotion Video Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Welcome to CAB Lab Video Tool</h1>
    <p>This tool is used to provide a first glance at the data from the CAB Lab.</p>
    <p>Upload a zip file containing data files of a single participants raw csv files downloaded from iMotions</p>
    <hr>
    <h2>Clean your Data</h2>
    {% include 'form.html' %}
    <hr>
    <h2>Example of Video Creation Software</h2>
    {% include 'example.html' %}
    <hr>
    <h2>Data Processing used by the video creator</h2>
    <div class="pdf-container">
        <iframe src="{{ url_for('static', filename='ASC_Peak_Processing.pdf')}}" class="pdf-viewer"></iframe>
    </div>
    <h2>Software overview</h2>
    <div class="pdf-container">
        <iframe src="{{ url_for('static', filename='ASC_Custom_Tool_Explaination.pdf')}}" class="pdf-viewer"></iframe>
    </div>
</body>
</html>